{% extends "base.html" %}

{% block head %}
    <style type="text/css">
        .errorlist {
            list-style-type: none;
            padding: 0;
            color: #ff0000;
            text-align: center;
        }
    </style>
{% endblock %}

{% block container %}
    <div class="row d-flex justify-content-center align-items-center h-75">
        <div class="col-md-3 col-6">
            <h2>Sign in</h2>

            <form method="post">
                {% csrf_token %}

                <div class="form-floating mb-3">
                    {{ form.username }}
                    <label class="form-label">{{ form.username.label }}</label>
                </div>

                <div class="form-floating mb-3">
                    {{ form.password }}
                    <label class="form-label">{{ form.password.label }}</label>
                </div>

                <p>
                    {{ form.non_field_errors }}
                </p>

                <div class="d-flex justify-content-center align-items-center">
                    <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign in</button>
                </div>

                <div class="d-flex justify-content-center mt-4">
                    <p class="text-muted">Not a member?
                        <a class="text-body fw-bold ms-1" href="{% url 'user:sign-up' %}">Sign&nbsp;Up</a>.
                    </p>
                </div>

            </form>

        </div>
    </div>
{% endblock %}